# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Application
PORT=
NODE_ENV=

# Modrinth API
MODRINTH_API_URL=
CACHE_TTL_HOURS=

# CORS
CORS_ORIGIN=

# JWT
JWT_SECRET=

# Nebula
NEBULA_CLI_PATH=
NEBULA_WORKSPACE_PATH=
JAVA_EXECUTABLE=
